.star-rating {
    display: flex;
    gap: 4px;
}
  
.star {
    font-size: 30px;
    color: var(--secondary-yellow-color);
    cursor: pointer;
    transition: color 0.2s;
}

.star.filled {
    color: var(--primary-yellow-color);
}

.star.hovered {
    color: var(--primary-yellow-color);
}
  